p{
    color: blue;
}
html, body{height: 100%;}
body{margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;}

input{
    flex-grow: 1;
    margin-right: 10px;
}

.col{
    flex-grow: 1;
    margin-right: 10;
}

.row{
    display: flex;
}

button{
    background-color: #3e4144;
}

